<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Изменение проекта</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.min.css" th:href="@{/css/reset.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"  th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css"  th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/form.css"  th:href="@{/css/form.css}"/>
</head>
<body>
<header class="site-header">
    <div class="wrapper site-header__wrapper">
        <div class="site-header__start">
            <a href="/main" class="brand">MACON LIBRARY</a>
        </div>
        <div class="site-header__middle">
            <nav class="nav">
                <button class="nav__toggle" aria-expanded="false" type="button">
                    Меню
                </button>
                <ul class="nav__wrapper">
                    <li class="nav__item"><a href="/projects/search">Найти проект</a></li>
                    <li class="nav__item"><a href="/projects/new">Добавить проект</a></li>
                    <li class="nav__item"><a href="/users">Управление пользователями (admin)</a></li>
                </ul>
            </nav>
        </div>
        <div class="site-header__end">
            <form th:action="@{/logout}" th:method="POST">
                <input type="submit" value="Выйти"/>
            </form>
        </div>
    </div>
</header>
<form class="custom_form" th:method="PATCH" th:action="@{/projects/{number}(number=${project.getNumber()})}" th:object="${project}">
    <label for="number">Введите номер проекта: </label>
    <input type="text" th:field="*{number}" id="number"
           placeholder="Стандартный формат номера: '23001'. Формат номера для квартальных отчетов: '23000_1Q_Краснодар'">
    <div style="color: red" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">number error</div>
    <br/>
    <label for="year">Введите год проекта: </label>
    <input type="number" th:field="*{year}" id="year">
    <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">year error</div>
    <br/>
    <label for="relevance">Введите актуальность данных: </label>
    <input type="text" th:field="*{relevance}" id="relevance"
           placeholder="В формате месяц.год: '12.2023'">
    <div style="color: red" th:if="${#fields.hasErrors('relevance')}" th:errors="*{relevance}">relevance error</div>
    <br/>
    <label for="title">Введите название: </label>
    <input type="text" th:field="*{title}" id="title"
           placeholder="Название должно совпадать с названием проектной папки на сервере">
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error</div>
    <br/>
    <label for="client">Введите заказчика: </label>
    <input type="text" th:field="*{client}" id="client">
    <div style="color: red" th:if="${#fields.hasErrors('client')}" th:errors="*{client}">client error</div>
    <br/>
    <label for="countries">Введите название стран: </label>
    <input type="text" th:field="*{countries}" id="countries"
           placeholder="Если стран несколько, вводите их через запятую с пробелом: 'Россия, Армения, Казахстан'">
    <div style="color: red" th:if="${#fields.hasErrors('countries')}" th:errors="*{countries}">countries error</div>
    <br/>
    <label for="regions">Введите название субъектов (регионов): </label>
    <input type="text" th:field="*{regions}" id="regions"
           placeholder="Если регионов несколько, вводите их через запятую с пробелом: 'Краснодарский край, Ростовская область'">
    <div style="color: red" th:if="${#fields.hasErrors('regions')}" th:errors="*{regions}">regions error</div>
    <br/>
    <label for="towns">Введите название городов (муниципальных образований): </label>
    <input type="text" th:field="*{towns}" id="towns"
           placeholder="Если городов несколько, вводите их через запятую с пробелом: 'Сочи, Анапа, Геленджик'">
    <div style="color: red" th:if="${#fields.hasErrors('towns')}" th:errors="*{towns}">towns error</div>
    <br/>
    <label for="segments">Введите сегменты рынка (чтобы выбрать несколько, зажмите клавишу Control/Command):</label>
    <select id="segments" name="segments" multiple="multiple" class="select-checkbox">
        <option th:each="segment : ${segments}" th:value="${segment.getName()}" th:text="${segment.getName()}"
                th:selected="${project.segments.contains(segment)}"></option>
    </select>
    <a style="color: gray; font-style: italic" href="/segments">Редактировать список сегментов</a><br/>
    <div style="color: red" th:if="${#fields.hasErrors('segments')}" th:errors="*{segments}">segments error</div>
    <br/>
    <label for="type">Выберите тип проекта:</label>
    <select id="type" name="type">
        <option th:each="type : ${types}" th:value="${type.getName()}" th:text="${type.getName()}"
                th:selected="${project.type.getName().equals(type.getName())}"></option>
    </select>
    <a style="color: gray; font-style: italic" href="/types">Редактировать список типов проектов</a><br/>
    <div style="color: red" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">type error</div>
    <br/>
    <label for="formats">Выберете форматы отчета проекта (чтобы выбрать несколько, зажмите клавишу Control/Command):</label>
    <select id="formats" name="formats" multiple="multiple" class="select-checkbox">
        <option th:each="format : ${formats}" th:value="${format.getName()}" th:text="${format.getName()}"
                th:selected="${project.formats.contains(format)}"></option>
    </select>
    <a style="color: gray; font-style: italic" href="/formats">Редактировать список форматов</a><br/>
    <div style="color: red" th:if="${#fields.hasErrors('formats')}" th:errors="*{formats}">type error</div>
    <br/>




    <label for="tags">Введите тэги (ключевые слова): </label>
    <input type="text" th:field="*{tags}" id="tags"
           placeholder="Если тэгов несколько, вводите их через запятую с пробелом: 'Доверительное управление, Потребительские предпочтения'">
    <div style="color: red" th:if="${#fields.hasErrors('tags')}" th:errors="*{tags}">tags error</div>
    <br/>
    <input type="submit" value="Изменить"/>
</form>
<script src="/js/header.js" type="jscript" th:src="@{/js/header.js}"></script>
</body>
</html>