<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Страница проекта</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.min.css" th:href="@{/css/reset.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"  th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css"  th:href="@{/css/header.css}"/>
</head>
<body>
<header class="site-header">
    <div class="wrapper site-header__wrapper">
        <div class="site-header__start">
            <a href="/main" class="brand">MACON LIBRARY</a>
        </div>
        <div class="site-header__middle">
            <nav class="nav">
                <button class="nav__toggle" aria-expanded="false" type="button">
                    Меню
                </button>
                <ul class="nav__wrapper">
                    <li class="nav__item"><a href="/projects/search">Найти проект</a></li>
                    <li class="nav__item"><a href="/projects/new">Добавить проект</a></li>
                    <li class="nav__item"><a href="/users">Управление пользователями (admin)</a></li>
                </ul>
            </nav>
        </div>
        <div class="site-header__end">
            <form th:action="@{/logout}" th:method="POST">
                <input type="submit" value="Выйти"/>
            </form>
        </div>
    </div>
</header>
<hr/>
<p th:text="${'Номер проекта: ' + project.getNumber()}">Value</p>
<p th:text="${'Год: ' + project.getYear()}">Value</p>
<p th:text="${'Название: ' + project.getTitle()}">Value</p>
<p th:text="${'Заказчик: ' + project.getClient()}">Value</p>
<p th:text="${'Тип проекта: ' + project.getType()}">Value</p>
<p th:text="${'Локация: ' + project.getCountries() + ', ' + project.getRegions() + ', ' + project.getTowns()}">Value</p>
<p th:text="${'Сегмент рынка: ' + project.getSegments()}">Value</p>

<a th:href="@{/projects/{number}/edit(number=${project.getNumber()})}">Редактировать</a>

<form th:method="DELETE" th:action="@{/projects/{number}(number=${project.getNumber()})}">
    <input type="submit" value="Удалить">
</form>
<script src="/js/header.js" type="jscript" th:src="@{/js/header.js}"></script>
</body>
</html>