<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Поиск материала</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.min.css" th:href="@{/css/reset.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/form.css" th:href="@{/css/form.css}"/>
</head>
<body>
<header class="site-header">
    <div class="wrapper site-header__wrapper">
        <div class="site-header__start">
            <a href="/main" class="brand">MACON LIBRARY</a>
        </div>
        <div class="site-header__middle">
            <nav class="nav">
                <button class="nav__toggle" aria-expanded="false" type="button">
                    Меню
                </button>
                <ul class="nav__wrapper">
                    <li class="nav__item"><a href="/projects">Проекты MACON<br/></a></li>
                    <li class="nav__item"><a href="/publications">Полезные материалы (демо)</a></li>
                    <li class="nav__item"><a href="/users">Управление пользователями</a></li>
                </ul>
            </nav>
        </div>
        <div class="site-header__end">
            <form th:action="@{/logout}" th:method="POST">
                <input type="submit" value="Выйти"/>
            </form>
        </div>
    </div>
</header>
<form class="custom_form" th:method="POST" th:action="@{/publications/search-result}" th:object="${searchPublication}">

    <label for="title">Введите строку для поиска в названии материала: </label>
    <input type="text" th:field="*{title}" id="title">
    <br/>

    <label for="annotation">Введите строку для поиска в аннотации материала: </label>
    <input type="text" th:field="*{annotation}" id="annotation">
    <br/>

    <label for="source">Введите строку для поиска в издателе / источнике материала: </label>
    <input type="text" th:field="*{source}" id="source">
    <br/>

    <label for="year">Введите год проекта: </label>
    <input type="number" th:field="*{year}" id="year">
    <br/>

    <label for="relevance">Введите актуальность данных: </label>
    <input type="text" th:field="*{relevance}" id="relevance">
    <br/>
    <p style="color: gray; font-style: italic">В формате месяц год: '12.2023'</p>
    <br/>

    <label for="location">Введите локацию: </label>
    <input type="text" th:field="*{location}" id="location">
    <br/>

    <label for="segment">Выберете сегмент рынка: </label>
    <select th:field="*{segment}" id="segment">
        <option value=""></option>
        <option th:each="segment : ${segments}" th:value="${segment.getName()}" th:text="${segment.getName()}"></option>
    </select>

    <label for="format">Выберите формат материала: </label>
    <select th:field="*{format}" id="format">
        <option value=""></option>
        <option th:each="format : ${formats}" th:value="${format.getName()}" th:text="${format.getName()}"></option>
    </select>

    <label for="key_word">Выберите ключевое слово: </label>
    <select th:field="*{keyWord}" id="key_word">
        <option value=""></option>
        <option th:each="key_word : ${key_words}" th:value="${key_word.getName()}" th:text="${key_word.getName()}"></option>
    </select>

    <input type="submit" value="Найти"/>
</form>
<script src="/js/header.js" type="jscript" th:src="@{/js/header.js}"></script>
</body>
</html>