<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.min.css" th:href="@{/css/reset.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"  th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css"  th:href="@{/css/header.css}"/>
</head>
<body>
<header class="site-header">
    <div class="wrapper site-header__wrapper">
        <div class="site-header__start">
            <a href="/main" class="brand">MACON LIBRARY</a>
        </div>
        <div class="site-header__middle">
            <nav class="nav">
                <button class="nav__toggle" aria-expanded="false" type="button">
                    Меню
                </button>
                <ul class="nav__wrapper">
                    <li class="nav__item"><a href="/projects">Проекты MACON<br/></a></li>
                    <li class="nav__item"><a href="#">Полезные материалы</a></li>
                    <li class="nav__item"><a href="/users">Управление пользователями</a></li>
                </ul>
            </nav>
        </div>
        <div class="site-header__end">
            <form th:action="@{/logout}" th:method="POST">
                <input type="submit" value="Выйти"/>
            </form>
        </div>
    </div>
</header>
<a href="/projects/search" class="btn">Найти проект</a>
<a href="/projects/new" class="btn">Добавить проект</a>

<a href="#" class="btn">Найти материал</a>
<a href="#" class="btn">Добавить материал</a>
<script src="/js/header.js" type="jscript" th:src="@{/js/header.js}"></script>
</body>
</html>