<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Управление сегментами</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.min.css" th:href="@{/css/reset.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/table.css" th:href="@{/css/table.css}"/>
</head>
<body>
<header class="site-header">
    <div class="wrapper site-header__wrapper">
        <div class="site-header__start">
            <a href="/main" class="brand">MACON LIBRARY</a>
        </div>
        <div class="site-header__middle">
            <nav class="nav">
                <button class="nav__toggle" aria-expanded="false" type="button">
                    Меню
                </button>
                <ul class="nav__wrapper">
                    <li class="nav__item"><a href="/projects">Проекты MACON<br/></a></li>
                    <li class="nav__item"><a href="/publications">Полезные материалы</a></li>
                    <li class="nav__item"><a href="/users">Управление пользователями</a></li>
                </ul>
            </nav>
        </div>
        <div class="site-header__end">
            <form th:action="@{/logout}" th:method="POST">
                <input type="submit" value="Выйти"/>
            </form>
        </div>
    </div>
</header>
<table class="table">
    <thead>
    <tr>
        <th>Сегмент</th>
        <th>Редактировать</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="segment : ${segments}">
        <td th:text="${segment.getName()}">name</td>
        <td>
            <a th:href="@{/segments/{name}/edit(name=${segment.getName()})}">Редактировать</a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/segments/{name}(name=${segment.getName()})}"
                  onclick="return confirm('Вы подтверждаете удаление?')">
                <input type="submit" value="Удалить">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a href="/segments/new">Добавить сегмент</a><br/>
<script src="/js/header.js" type="jscript" th:src="@{/js/header.js}"></script>
</body>
</html>